#todo-form {
  padding: 32px 32px 0;
}

#todo-form input {
  padding: 12px;
  margin-right: 12px;
  width: 225px;

  border-radius: 4px;
  border: none;

  box-shadow: 0px 5px 15px rgba(112, 110, 110, 0.25);
  background: rgb(32, 28, 28);
  color: #ffffff;
  font-size: 14px;
  outline: none;
}

#todo-form button,
.btn {
  padding: 12px 32px;

  border-radius: 4px;
  border: none;

  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.25);
  background: #1e44a9;
  color: rgb(255, 255, 255);

  font-weight: bold;
  font-size: 14px;
  cursor: pointer;
}

#close-btn {
  color: #cc0000;
  font-size: 20px;
  font-weight: bold;
  border: transparent;
  background-color: transparent;
}

input[type="date"] {
  height: 35px;
  margin: 0 auto;
  width: 100%;
  max-width: 300px;
  font-family: arial, sans-serif;
  font-size: 18px;
  text-transform: uppercase;
  background-color: #2f2f2f;
  outline: none;
  border: 0;
  border-radius: 3px;
  padding: 0 10px;
  color: #ffffff;
  box-sizing: border-box;
}
input[type="date"]::-webkit-datetime-edit-month-field {
  color: #ffffff;
}
input[type="date"]::-webkit-datetime-edit-day-field {
  color: #ffffff;
}
input[type="date"]::-webkit-datetime-edit-year-field {
  color: #ffffff;
}
input[type="date"]::-webkit-clear-button {
  font-size: 18px;
  height: 30px;
  position: relative;
  right: 5px;
  margin-right: 4px;
}
input[type="date"]::-webkit-inner-spin-button {
  height: 30px;
}
input[type="date"]::-webkit-calendar-picker-indicator {
  font-size: 18px;
}
input[type="date"]::-webkit-calendar-picker-indicator :hover {
  background-color: #2f2f2f;
  color: #232323;
  cursor: pointer;
}
input[type="date"]::-webkit-calendar-picker-indicator ::active {
  color: blue;
}
label {
  width: 130px;
  font-size: 18px;
  font-weight: bold;
}

input[type="text"],
textarea {
  background-color: #2f2f2f;
  border: 2px solid #575757;
  width: 320px;
  outline: 0;
  border-radius: 10px;
  transition: border-color 0.3s ease;
  color: #ffffff;
  padding: 15px;
  font-size: 18px;
}

input[type="text"]:focus {
  border-color: #075ab3;
  outline: none;
}
